.green_frame {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: greenyellow;

    margin: 5px;

    display: flex;

    color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    justify-content: center;
    font-size: 36px;
}