* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2b2b2b;
    min-width: 100vw;
    min-height: 100vh;
}

.page_header {
    display: flex;
    height: 50px;
    width: 100vw;
    background-color: #4b4b4b;
}

.page_header_elem {
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c0c0c0;
    text-decoration: none;
}

.page_header_elem:hover {
    color: #ffffff;
}

.lection_text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

.lection_text_container {
    display: flex;
    align-items: center;
}